body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

#tipContainer {
    width: 300px;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1);
    margin: 10px auto;
    text-align: center;
}

#tipContainer h1 {
    font-size: 24px;
    color: #333;
    margin-bottom: 10px;
}

#tipContainer p {
    font-size: 16px;
    color: #666;
}

#tipContainer button {
    padding: 10px 20px;
    background-color: #008CBA;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
}

#tipContainer button:hover {
    background-color: #007B9A;
}